* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding-top: 70px;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* =============================== */
/* HEADER */
/* =============================== */
header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/matt-botsford-OKLqGsCT8qs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* photo by <span>Photo by <a href="https://unsplash.com/@mattbotsford?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Matt Botsford</a> on <a href="https://unsplash.com/s/photos/podcast?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */


nav {
    background-color: transparent;
}

nav li a:hover {
    border: 1px solid gray;
}

.header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* =============================== */
/* ABOUT SECTION */
/* =============================== */

h2 {
    text-align: center;
    padding-bottom: 15px;
}

.about-section {
    height: auto;
    /* change padding only to top and bottom */
    /* padding-top: 80px; */
}

.about-section-text i{
    font-size: 60px;
}

.about-section i {
    color: gold;
}

.about-showcase {
    list-style: none;
    width: 100%;
}

.about-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.image-about {
    width: 100%;
    margin: 0;
    overflow: hidden;
    object-fit: cover;
}

.image-about img {
    width: 100%;
    height: 275px;
}

.about-section p {
    text-align: left;
}

/* =============================== */
/* MEET PODCASTERS */
/* =============================== */
.podcast-meet  img {
    width: 100%;
    height: auto
}

.podcast-meet h3 {
    text-align: center;
}

.podcast-meet p {
    text-align: justify;
}